# Set default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to LF line endings.
*.tf text eol=lf
*.tfvars text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.json text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf
LICENSE text eol=lf
